h2 {
    letter-spacing: -0.1rem;
}

h4 {
    letter-spacing: -0.05rem;
    font-size: 1.6em;
}

.header h5 {
    color: rgba(107,114,128,var(--tw-text-opacity));
    --tw-text-opacity: 1;
    letter-spacing: 0.1rem;
    font-size: 2rem;}

.header {
    text-transform: uppercase;
}

p {
    font-family: Inter var;
    font-weight: 350;
    color: #222;
    font-size: 1.8rem;
    line-height: 3rem;
    --tw-text-opacity: 1;
    /* color: rgba(107,114,128,var(--tw-text-opacity)); */
}

.header {
    margin-top: 4rem
}

.links {
    font-size: 2.2rem;
}

.links a {
    margin-right: 2rem;
    color: #222222;
}

.tagline strong {
    font-weight: 600; /* PROBLEM */
}
  
a {
    color: inherit;
    text-decoration: inherit;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(2,132,199,var(--tw-text-opacity));
    box-sizing: border-box;
    border: 0 solid;
    color: inherit;
}

.david-red {
    color: rgb(207, 47, 47);
}

.section .title {
    font-family: Inter var;
    font-weight: 600;
    letter-spacing: 0.05rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.tech-yellow {
    color: #ab7c00;
}

.blue {
    color: #607bff;
}

.label-red { box-shadow: inset 0 -0.05em 0 0 #fff, inset 0 -0.35em 0 0 #fdbacd; }
.label-orange { box-shadow: inset 0 -0.05em 0 0 #fff, inset 0 -0.35em 0 0 #fdd5ba; }
.label-yellow { box-shadow: inset 0 -0.05em 0 0 #fff, inset 0 -0.35em 0 0 #fdfcba; }
.label-green { box-shadow: inset 0 -0.05em 0 0 #fff, inset 0 -0.35em 0 0 #bafdc3; }
.label-blue { box-shadow: inset 0 -0.05em 0 0 #fff, inset 0 -0.35em 0 0 #bae6fd; }
.label-purple { box-shadow: inset 0 -0.05em 0 0 #fff, inset 0 -0.35em 0 0 #ddbafd; }
.label-black { box-shadow: inset 0 -0.05em 0 0 #fff, inset 0 -0.35em 0 0 #a5a5a5; }
.label-twitter { box-shadow: inset 0 -0.05em 0 0 #fff, inset 0 -0.35em 0 0 #aed9f1; }
.label-linkedin { box-shadow: inset 0 -0.05em 0 0 #fff, inset 0 -0.35em 0 0 #acdaf3; }
.label-hf { box-shadow: inset 0 -0.05em 0 0 #fff, inset 0 -0.35em 0 0 #ffe390; }

.footer p {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.04rem;
}

.arrows li:before {
    content: "→ ";
}

.arrows {
    list-style: outside none;
    padding-left: 40px;
    padding-right: 40px;
    list-style-position: outside;
}

.arrow {
    display: list-item;
    text-align: -webkit-match-parent;
    text-indent: -2em;
    font-family: Inter var;
    font-weight: 350;
    color: #222;
    font-size: 1.7rem;
    line-height: 3rem;
    --tw-text-opacity: 1;
    margin-bottom: 0.15em;
}

.modal-green {
    background-color: #6efdae34;
    box-shadow: -5px 0px 0px 0px #6efdae;
}

.modal-yellow {
    background-color: rgba(253, 203, 110, 0.2);
    box-shadow: -5px 0px 0px 0px #fdcb6e;
}

.modal-red {
    background-color: rgba(253, 110, 110, 0.2);
    box-shadow: -5px 0px 0px 0px #fd6e6e;
}

.modal {
    padding-left: 20px;
    margin-bottom: 20px;
    padding-right: 10px;
}

.modal p {
    letter-spacing: -0.02rem;
    padding-bottom: 10px;
    padding-top: 10px;
}

.reccomendations .tagline {
    font-size: 1.75rem;
}
.reccomendations strong {
    text-transform: uppercase;
    font-size: 1.7rem;
}
.reccomendations .columns p {
    margin-bottom: 0;
    font-size: 1.6rem;
}
.eq-note {
    font-size:14px; 
    margin-top: -15px;
}